@media (max-width: 768px) and (min-width:481px) { 
    .navbar-toggler.md-me-5 {
        margin-left: 84px;
    }
    .img-area .inner-shape {
        position: absolute;
        width: 21%;
        height: 25%;
    }
    .extra img {
        max-width: 110%;
    }
    .testy-text h4 {
    
        max-width: 56%;   
    }
    .events-img img {
        max-width: 100%;
        margin-left: 15%;
    }
    .social-icon {
        margin-left: 40%;
        margin-top: 37%;
    }
}
@media (max-width: 480px) and (min-width:376px){
    .contact {
        display: none;
    }
    .navbar-toggler.md-me-5 {
        margin-left: -47px;
    }
    .img-area .inner-shape {
        width: 21%;
        height: 24%;
        
    }
    .reservation {
        background-size: contain;
    }
    .events-img img {
        max-width: 60%;
        margin-left: 26%;
    }
    .contact-area-footer {
        margin-top: 1%;
        text-align: center;
    }
    .copyright {
        margin-top: 6%;
        text-align: center;
    }
    .social-icon {
        margin-left: 2%;
        margin-top: 3%;
    }
}
@media (max-width: 375px) and (min-width:360px){
    .contact {
        display: none;
    }
    .navbar-toggler.md-me-5 {
        margin-left: -47px;
    }
    .img-area .inner-shape {
        width: 21%;
        height: 24%;
        
    }
    .burger-card1 {
        position: relative;
        margin-right: 12%;
    }
    .testy-text h4 {
        max-width: 56%;
    }
    .b-card button {
        margin-bottom: 4%;
    }
    .events-img img {
        max-width: 73%;
        margin-left: 26%;
        margin-top: 4%;
    }
    .reservation {
        background-size: contain;
    }
    .burger-house img {
        max-width: 50%;
    }
    .contact-area-footer {
        margin-top: 7%;
        text-align: center;
    }
    .social-icon {
        margin-left: -1%;
        margin-top: 4%;
    }
}